/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
* ::before,
* ::after {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
input, textarea, button {
    outline: 0;
    border: 0;
    box-shadow: none;
}

/* General */
html {
    font-size: 16px;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--textLight);
  background-color: #FDF5E8;
}

/* Container */
.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

.header {
   background-color: #387E80;
   text-align: center; 
   color: #FFFA5A;
   font-size: 2rem;
   margin-bottom: 32px;
}
ul {
    text-align: center;
}
img {
    height: 70%;
    width: 50%;
}
li {
    margin: 1.5%;
    width: 30%;
    background-color: white;
}
.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
button {
    padding: 10px;
    border-radius: 5px;
    background-color: #387E80;
}